name: devops-mlops-report (fixed)

on:
  workflow_call:
    inputs:
      config_path:
        required: true
        type: string
    secrets:
      GIST_TOKEN:
        required: true
      DAGSHUB_TOKEN:
        required: true
      

jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
    steps:
      # 1) Checkout the caller repo (mlops-ci-demo) to read report-config.yml
      - name: Checkout caller repo
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          path: caller
          fetch-depth: 0

      # 2) Checkout this repo (devops-mlops-report) to run scripts
      - name: Checkout devops-mlops-report
        uses: actions/checkout@v4
        with:
          repository: cyndi-s/devops-mlops-report
          ref: main
          path: app

      - name: Setup Python
        uses: actions/setup-python@v5
        env:
            WORKFLOW_STATUS: ${{ job.status }}
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml mlflow pandas 

     
      - name: Run devops-mlops-report
        working-directory: app
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GIST_TOKEN: ${{ secrets.GIST_TOKEN }}
          CONFIG_PATH: ${{ inputs.config_path }}
          WORKFLOW_STATUS: ${{ job.status }}
          MLFLOW_TRACKING_USERNAME: ${{ github.repository_owner }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python .github/scripts/run_report.py \
            --config ../caller/${CONFIG_PATH}

    